@*@model SocialNetwork.WebUI.Models.ChatModel*@
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid h-100">
    <div class="w-100 d-flex flex-row flex-wrap justify-content-between">
        <div class="d-flex flex-row flex-wrap">
            <img class="rounded-circle me-2" style="width: 50px; height: 50px;" src="~/images/Kamran Aliyev.jpg"/>
            <h2>Kamran Aliyev</h2>
        </div>
        <div class="d-flex flex-row-reverse flex-wrap">
            <img class="rounded-circle ms-2" style="width: 50px; height: 50px;" src="~/images/MyImg.jpg"/>
            <h2>Omer Haciyev</h2>
        </div>
    </div>
    <ul class="w-100 d-flex flex-column flex-wrap bg-danger" style="height: 75vh; list-style: none;" id="messageList">
        <li class="nav-item d-flex flex-row flex-wrap position-relative w-100 m-0">
            <i class="bi bi-triangle" style="width: 20px; height: 20px; border-style: solid; border-width: 0 0 18px 18px; border-color: transparent transparent #6c757d transparent; transform: rotateZ(-90deg); position: absolute; top: 0; left: -16px;"></i>
            <p style="font-size: 15px; padding: 20px; color: #FFF; line-height: 25px; max-width: 90%; text-align: left; border-radius: 5px;background-color:#6c757d;">Salam ngfdh fghh hf fghf ecesen sfsdf sdfdfasdfsdf sdfdf;ljasf dsafkjhaksjsd iugjgkjhgsdf lkjgkjhgsdf dfjlkjhlsdafklfsdfsdfsfsfssfsdfsdfsdffdssfdfdsddfdfjbhsdf</p>
        </li>
        <li class="nav-item d-flex flex-row-reverse flex-wrap position-relative w-100 m-0">
            <p style="font-size: 15px; padding: 20px; color: #FFF; line-height: 25px; max-width: 90%; text-align: left; border-radius: 5px;background-color:#58b666;">Salam ngfdh fghh hf fghf ecesen sfsdf sdfdfasdfsdf sdfdf;ljasf dsafkjhaksj iugjgkjhgsdf lkjgkjhgsdf dfjlkjhlsdafklfsdfsdfsfsfssfsdfsdfsdffdssfdfdsddfdfjbhsdf</p>
            <i class="bi bi-triangle" style="width: 20px; height: 20px; border-style: solid; border-width: 0 0 18px 18px; border-color: transparent transparent #58b666 transparent; transform: rotateY(180deg) rotateZ(-90deg); position: absolute; top: 0; right: -16px;"></i>
        </li>
        <li class="nav-item d-flex flex-row flex-wrap position-relative w-100 m-0">
            <i class="bi bi-triangle" style="width: 20px; height: 20px; border-style: solid; border-width: 0 0 18px 18px; border-color: transparent transparent #6c757d transparent; transform: rotateZ(-90deg); position: absolute; top: 0; left: -16px;"></i>
            <p style="font-size: 15px; padding: 20px; color: #FFF; line-height: 25px; max-width: 90%; text-align: left; border-radius: 5px;background-color:#6c757d;">Salam ngfdh fghh hf fghf ecesen sfsdf sdfdfasdfsdf sdfdf;ljasf dsafkjhaksjsd iugjgkjhgsdf lkjgkjhgsdf dfjlkjhlsdafklfsdfsdfsfsfssfsdfsdfsdffdssfdfdsddfdfjbhsdf</p>
        </li>
    </ul>
    <div class="w-100 d-flex flex-row flex-wrap"> 
        
    </div>
</div>